div{
    margin: auto;
    width: 800px;
}
div .top{
    height: 100px;
}
div .top .left{
    width: 20%;
    height: 100%;
    float: left;
}
div .top .center{
    width: 60%;
    height: 100%;
    float: left;
}
div .top .right{
    width: 20%;
    height: 100%;
    float: left;
    padding: 35px;
}
div .title{
    width: 100%;
    height: 100%;
    padding: 40px;
    font-weight: 700;
    font-size: larger;
    text-align: center;
}
.logout{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0;
    outline: 0;
}
.logo{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 700;
}
div .middle{
    height: 500px;
}
div .bottom{
    height: 100px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div .middle .center{
    width: 80%;
    height: 100%;
    float: left;
}

.div1{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div .middle .left{
    width: 10%;
    height: 100%;
    float: left;
}
div .middle .right{
    width: 10%;
    height: 100%;
    float: left;
}
.where {
    display: block;
    font-size: 11px;
    color: #000;
    text-decoration: none;
    font-family: verdana;
    font-style: italic;
}

.schedule_container{
    width: 100%;
    height: 80%;
    margin: 0;
}
.schedule_box{
    width: 100%;
    height: 20%;
}
.date{
    display: inline-block;
    text-align: center;
    width: 14%;
    height: 100%;
}
.visitor_name{
    display: inline-block;
    text-align: center;
    width: 14%;
    height: 100%;
}
.staff_name{
    display: inline-block;
    width: 14%;
    height:100%

}
.purpose{
    display: inline-block;
    text-align: center;
    width: 14%;
    height: 100%;
}
.confirm_status{
    display: inline-block;
    text-align: center;
    width: 14%;
    height: 100%;
}
.status_container{
    display: inline-block;
    width: 14%;
    height: 100%;
}

.confirm{
    display: inline-block;
    text-align: center;
    width: 45%;
    height: 50%;
    background-color: lightseagreen;
    padding: 5px;
    border: 0;
    outline: 0;
}

.reject{
    display: inline-block;
    text-align: center;
    width: 45%;
    height: 50%;
    background-color: lightsalmon;
    padding: 5px;
    border: 0;
    outline: 0;
}

.category{
    width: 100%;
    height: 10%;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid #d8d8d8;
}
.enter_time{
    width: 14%;
    height: 100%;

}
.exit_time{
    width: 14%;
    height: 100%;
}



